In [3]:
# ==========================================
# STEP 1: IMPORT LIBRARIES
# ==========================================
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm

pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:.2f}'.format


# ==========================================
# STEP 2: LOAD DATASETS
# ==========================================
fac = pd.read_csv('UDISE Education Dataset/UDISE 2023-24/facility_data_All State_2023-24/100_fac.csv', low_memory=False)
prof1 = pd.read_csv('UDISE Education Dataset/UDISE 2023-24/profile_data_1_All State_2023-24/100_prof1.csv', low_memory=False)
enr1 = pd.read_csv('UDISE Education Dataset/UDISE 2023-24/enrolment_data_1_All State_2023-24/100_enr1.csv', low_memory=False)
nfhs_5 = pd.read_csv('UDISE Education Dataset/UDISE 2023-24/NFHS_5_India_Districts_Factsheet_Data.csv', low_memory=False)

print("✅ Datasets Loaded")
print(f"fac: {fac.shape}, prof1: {prof1.shape}, enr1: {enr1.shape}, nfhs_5: {nfhs_5.shape}")


# Dictionary to store all dataframes
datasets = {
    'Facility Data (fac)': fac,
    'Profile Data 1 (prof1)': prof1,
    'Enrollment Data 1 (enr1)': enr1,
    'nfhs 5 (nfhs_5)': nfhs_5
}

# Print metadata and columns for each dataset
for name, df in datasets.items():
    print(f"\n{'='*80}")
    print(f"Dataset: {name}")
    print(f"{'='*80}")
    
    # Basic metadata
    print(f"\nShape: {df.shape[0]} rows × {df.shape[1]} columns")
    print(f"Memory Usage: {df.memory_usage(deep=True).sum() / 1024**2:.2f} MB")
    
    # Column namesa
    print(f"\nColumn Names ({len(df.columns)} total):")
    print("-" * 80)
    for i, col in enumerate(df.columns, 1):
        print(f"{i:3d}. {col}")
    
    # Data types summary
    print(f"\nData Types Summary:")
    print(df.dtypes.value_counts())
    
    # Missing values
    missing = df.isnull().sum()
    if missing.sum() > 0:
        print(f"\nColumns with Missing Values:")
        print(missing[missing > 0])
    else:
        print(f"\nNo missing values found.")
    
    # Basic info
    print(f"\nDetailed Info:")
    print(df.info())

print(f"\n{'='*80}")
print("Metadata extraction complete!")
print(f"{'='*80}")

✅ Datasets Loaded
fac: (1471891, 70), prof1: (1471891, 38), enr1: (8234734, 29), nfhs_5: (706, 109)

================================================================================
Dataset: Facility Data (fac)
================================================================================

Shape: 1471891 rows × 70 columns
Memory Usage: 786.07 MB

Column Names (70 total):
--------------------------------------------------------------------------------
  1. pseudocode
  2. building_status
  3. no_building_blocks
  4. pucca_building_blocks
  5. boundary_wall
  6. total_class_rooms
  7. other_rooms
  8. classrooms_in_good_condition
  9. classrooms_needs_minor_repair
 10. classrooms_needs_major_repair
 11. separate_room_for_hm
 12. total_boys_toilet
 13. total_boys_func_toilet
 14. total_girls_toilet
 15. total_girls_func_toilet
 16. total_boys_cwsn_toilet
 17. func_boys_cwsn_friendly
 18. total_girls_cwsn_toilet
 19. func_girls_cwsn_friendly
 20. urinal_boys
 21. urinal_girls
 22. handwash_near_toilet
 23. hand_pump_yn
 24. well_prot_yn
 25. tap_yn
 26. othsrc_yn
 27. well_unprot_yn
 28. pack_water_yn
 29. hand_pump_fun_yn
 30. well_prot_fun_yn
 31. tap_fun_yn
 32. othsrc_fun_yn
 33. well_unprot_fun_yn
 34. pack_water_fun_yn
 35. rain_water_harvesting
 36. handwash_facility_for_meal
 37. electricity_availability
 38. solar_panel
 39. library_availability
 40. book_bank
 41. reading_corner
 42. playground_available
 43. playground_alt_yn
 44. medical_checkups
 45. availability_ramps
 46. availability_of_handrails
 47. furniture_availability
 48. phy_lab_cond
 49. chem_lab_cond
 50. bio_lab_cond
 51. math_lab_cond
 52. lang_lab_cond
 53. geo_lab_cond
 54. home_sc_lab_cond
 55. psycho_lab_cond
 56. comp_lab_cond
 57. comp_ict_lab_yn
 58. ict_lab_yn
 59. laptop
 60. tablet
 61. desktop
 62. digiboard
 63. teachdev_tot
 64. server_tot
 65. smart_class_tv_tot
 66. projector
 67. printer
 68. internet
 69. dth
 70. spl_educator_yn

Data Types Summary:
int64    70
Name: count, dtype: int64

No missing values found.

Detailed Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1471891 entries, 0 to 1471890
Data columns (total 70 columns):
 #   Column                         Non-Null Count    Dtype
---  ------                         --------------    -----
 0   pseudocode                     1471891 non-null  int64
 1   building_status                1471891 non-null  int64
 2   no_building_blocks             1471891 non-null  int64
 3   pucca_building_blocks          1471891 non-null  int64
 4   boundary_wall                  1471891 non-null  int64
 5   total_class_rooms              1471891 non-null  int64
 6   other_rooms                    1471891 non-null  int64
 7   classrooms_in_good_condition   1471891 non-null  int64
 8   classrooms_needs_minor_repair  1471891 non-null  int64
 9   classrooms_needs_major_repair  1471891 non-null  int64
 10  separate_room_for_hm           1471891 non-null  int64
 11  total_boys_toilet              1471891 non-null  int64
 12  total_boys_func_toilet         1471891 non-null  int64
 13  total_girls_toilet             1471891 non-null  int64
 14  total_girls_func_toilet        1471891 non-null  int64
 15  total_boys_cwsn_toilet         1471891 non-null  int64
 16  func_boys_cwsn_friendly        1471891 non-null  int64
 17  total_girls_cwsn_toilet        1471891 non-null  int64
 18  func_girls_cwsn_friendly       1471891 non-null  int64
 19  urinal_boys                    1471891 non-null  int64
 20  urinal_girls                   1471891 non-null  int64
 21  handwash_near_toilet           1471891 non-null  int64
 22  hand_pump_yn                   1471891 non-null  int64
 23  well_prot_yn                   1471891 non-null  int64
 24  tap_yn                         1471891 non-null  int64
 25  othsrc_yn                      1471891 non-null  int64
 26  well_unprot_yn                 1471891 non-null  int64
 27  pack_water_yn                  1471891 non-null  int64
 28  hand_pump_fun_yn               1471891 non-null  int64
 29  well_prot_fun_yn               1471891 non-null  int64
 30  tap_fun_yn                     1471891 non-null  int64
 31  othsrc_fun_yn                  1471891 non-null  int64
 32  well_unprot_fun_yn             1471891 non-null  int64
 33  pack_water_fun_yn              1471891 non-null  int64
 34  rain_water_harvesting          1471891 non-null  int64
 35  handwash_facility_for_meal     1471891 non-null  int64
 36  electricity_availability       1471891 non-null  int64
 37  solar_panel                    1471891 non-null  int64
 38  library_availability           1471891 non-null  int64
 39  book_bank                      1471891 non-null  int64
 40  reading_corner                 1471891 non-null  int64
 41  playground_available           1471891 non-null  int64
 42  playground_alt_yn              1471891 non-null  int64
 43  medical_checkups               1471891 non-null  int64
 44  availability_ramps             1471891 non-null  int64
 45  availability_of_handrails      1471891 non-null  int64
 46  furniture_availability         1471891 non-null  int64
 47  phy_lab_cond                   1471891 non-null  int64
 48  chem_lab_cond                  1471891 non-null  int64
 49  bio_lab_cond                   1471891 non-null  int64
 50  math_lab_cond                  1471891 non-null  int64
 51  lang_lab_cond                  1471891 non-null  int64
 52  geo_lab_cond                   1471891 non-null  int64
 53  home_sc_lab_cond               1471891 non-null  int64
 54  psycho_lab_cond                1471891 non-null  int64
 55  comp_lab_cond                  1471891 non-null  int64
 56  comp_ict_lab_yn                1471891 non-null  int64
 57  ict_lab_yn                     1471891 non-null  int64
 58  laptop                         1471891 non-null  int64
 59  tablet                         1471891 non-null  int64
 60  desktop                        1471891 non-null  int64
 61  digiboard                      1471891 non-null  int64
 62  teachdev_tot                   1471891 non-null  int64
 63  server_tot                     1471891 non-null  int64
 64  smart_class_tv_tot             1471891 non-null  int64
 65  projector                      1471891 non-null  int64
 66  printer                        1471891 non-null  int64
 67  internet                       1471891 non-null  int64
 68  dth                            1471891 non-null  int64
 69  spl_educator_yn                1471891 non-null  int64
dtypes: int64(70)
memory usage: 786.1 MB
None

================================================================================
Dataset: Profile Data 1 (prof1)
================================================================================

Shape: 1471891 rows × 38 columns
Memory Usage: 916.54 MB

Column Names (38 total):
--------------------------------------------------------------------------------
  1. pseudocode
  2. state
  3. district
  4. block
  5. rural_urban
  6. lgd_urban_local_body_name
  7. lgd_ward_name
  8. lgd_vill_name
  9. lgd_vill_panchayat_name
 10. lgd_block_name
 11. school_category
 12. school_type
 13. lowclass
 14. highclass
 15. managment
 16. pincode
 17. special_school_for_cwsn
 18. shift_school
 19. resi_school
 20. resi_type
 21. minority_school
 22. medium_instr1
 23. medium_of_instr2
 24. medium_of_instr3
 25. medium_of_instr4
 26. aff_board_sec
 27. aff_board_hsec
 28. approachable_road
 29. pre_primary
 30. anganwadi_yn
 31. avg_instr_days
 32. cce_yn
 33. same_sch_b
 34. same_sch_g
 35. other_sch_b
 36. other_sch_g
 37. anganwadi_ecce_b
 38. anganwadi_ecce_g

Data Types Summary:
int64     30
object     8
Name: count, dtype: int64

Columns with Missing Values:
lgd_urban_local_body_name    1216079
lgd_ward_name                1216201
lgd_vill_name                 278006
lgd_vill_panchayat_name       281586
lgd_block_name                286013
dtype: int64

Detailed Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1471891 entries, 0 to 1471890
Data columns (total 38 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   pseudocode                 1471891 non-null  int64
 1   state                      1471891 non-null  object
 2   district                   1471891 non-null  object
 3   block                      1471891 non-null  object
 4   rural_urban                1471891 non-null  int64
 5   lgd_urban_local_body_name  255812 non-null   object
 6   lgd_ward_name              255690 non-null   object
 7   lgd_vill_name              1193885 non-null  object
 8   lgd_vill_panchayat_name    1190305 non-null  object
 9   lgd_block_name             1185878 non-null  object
 10  school_category            1471891 non-null  int64
 11  school_type                1471891 non-null  int64
 12  lowclass                   1471891 non-null  int64
 13  highclass                  1471891 non-null  int64
 14  managment                  1471891 non-null  int64
 15  pincode                    1471891 non-null  int64
 16  special_school_for_cwsn    1471891 non-null  int64
 17  shift_school               1471891 non-null  int64
 18  resi_school                1471891 non-null  int64
 19  resi_type                  1471891 non-null  int64
 20  minority_school            1471891 non-null  int64
 21  medium_instr1              1471891 non-null  int64
 22  medium_of_instr2           1471891 non-null  int64
 23  medium_of_instr3           1471891 non-null  int64
 24  medium_of_instr4           1471891 non-null  int64
 25  aff_board_sec              1471891 non-null  int64
 26  aff_board_hsec             1471891 non-null  int64
 27  approachable_road          1471891 non-null  int64
 28  pre_primary                1471891 non-null  int64
 29  anganwadi_yn               1471891 non-null  int64
 30  avg_instr_days             1471891 non-null  int64
 31  cce_yn                     1471891 non-null  int64
 32  same_sch_b                 1471891 non-null  int64
 33  same_sch_g                 1471891 non-null  int64
 34  other_sch_b                1471891 non-null  int64
 35  other_sch_g                1471891 non-null  int64
 36  anganwadi_ecce_b           1471891 non-null  int64
 37  anganwadi_ecce_g           1471891 non-null  int64
dtypes: int64(30), object(8)
memory usage: 426.7+ MB
None

================================================================================
Dataset: Enrollment Data 1 (enr1)
================================================================================

Shape: 8234734 rows × 29 columns
Memory Usage: 1821.96 MB

Column Names (29 total):
--------------------------------------------------------------------------------
  1. pseudocode
  2. item_group
  3. item_id
  4. cpp_b
  5. cpp_g
  6. c1_b
  7. c1_g
  8. c2_b
  9. c2_g
 10. c3_b
 11. c3_g
 12. c4_b
 13. c4_g
 14. c5_b
 15. c5_g
 16. c6_b
 17. c6_g
 18. c7_b
 19. c7_g
 20. c8_b
 21. c8_g
 22. c9_b
 23. c9_g
 24. c10_b
 25. c10_g
 26. c11_b
 27. c11_g
 28. c12_b
 29. c12_g

Data Types Summary:
int64    29
Name: count, dtype: int64

No missing values found.

Detailed Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8234734 entries, 0 to 8234733
Data columns (total 29 columns):
 #   Column      Dtype
---  ------      -----
 0   pseudocode  int64
 1   item_group  int64
 2   item_id     int64
 3   cpp_b       int64
 4   cpp_g       int64
 5   c1_b        int64
 6   c1_g        int64
 7   c2_b        int64
 8   c2_g        int64
 9   c3_b        int64
 10  c3_g        int64
 11  c4_b        int64
 12  c4_g        int64
 13  c5_b        int64
 14  c5_g        int64
 15  c6_b        int64
 16  c6_g        int64
 17  c7_b        int64
 18  c7_g        int64
 19  c8_b        int64
 20  c8_g        int64
 21  c9_b        int64
 22  c9_g        int64
 23  c10_b       int64
 24  c10_g       int64
 25  c11_b       int64
 26  c11_g       int64
 27  c12_b       int64
 28  c12_g       int64
dtypes: int64(29)
memory usage: 1.8 GB
None

================================================================================
Dataset: nfhs 5 (nfhs_5)
================================================================================

Shape: 706 rows × 109 columns
Memory Usage: 2.16 MB

Column Names (109 total):
--------------------------------------------------------------------------------
  1. District Names
  2. State/UT
  3. Number of Households surveyed
  4. Number of Women age 15-49 years interviewed
  5. Number of Men age 15-54 years interviewed
  6. Female population age 6 years and above who ever attended school (%)
  7. Population below age 15 years (%)
  8.  Sex ratio of the total population (females per 1,000 males)
  9. Sex ratio at birth for children born in the last five years (females per 1,000 males)
 10. Children under age 5 years whose birth was registered with the civil authority (%)
 11. Deaths in the last 3 years registered with the civil authority (%)
 12. Population living in households with electricity (%)
 13. Population living in households with an improved drinking-water source1 (%)
 14. Population living in households that use an improved sanitation facility2 (%)
 15. Households using clean fuel for cooking3 (%)
 16. Households using iodized salt (%)
 17. Households with any usual member covered under a health insurance/financing scheme (%)
 18. Children age 5 years who attended pre-primary school during the school year 2019-20 (%)
 19. Women (age 15-49) who are literate4 (%)
 20. Women (age 15-49)  with 10 or more years of schooling (%)
 21. Women age 20-24 years married before age 18 years (%)
 22. Births in the 5 years preceding the survey that are third or higher order (%)
 23. Women age 15-19 years who were already mothers or pregnant at the time of the survey (%)
 24. Women age 15-24 years who use hygienic methods of protection during their menstrual period5 (%)
 25. Current Use of Family Planning Methods (Currently Married Women Age 15-49  years) - Any method6 (%)
 26. Current Use of Family Planning Methods (Currently Married Women Age 15-49  years) - Any modern method6 (%)
 27. Current Use of Family Planning Methods (Currently Married Women Age 15-49  years) - Female sterilization (%)
 28. Current Use of Family Planning Methods (Currently Married Women Age 15-49  years) - Male sterilization (%)
 29. Current Use of Family Planning Methods (Currently Married Women Age 15-49  years) - IUD/PPIUD (%)
 30. Current Use of Family Planning Methods (Currently Married Women Age 15-49  years) - Pill (%)
 31. Current Use of Family Planning Methods (Currently Married Women Age 15-49  years) - Condom (%)
 32. Current Use of Family Planning Methods (Currently Married Women Age 15-49  years) - Injectables (%)
 33. Total Unmet need for Family Planning (Currently Married Women Age 15-49  years)7 (%)
 34. Unmet need for spacing (Currently Married Women Age 15-49  years)7 (%)
 35. Health worker ever talked to female non-users about family planning (%)
 36. Current users ever told about side effects of current method of family planning8 (%)
 37. Mothers who had an antenatal check-up in the first trimester  (for last birth in the 5 years before the survey) (%)
 38. Mothers who had at least 4 antenatal care visits  (for last birth in the 5 years before the survey) (%)
 39. Mothers whose last birth was protected against neonatal tetanus (for last birth in the 5 years before the survey)9 (%)
 40. Mothers who consumed iron folic acid for 100 days or more when they were pregnant (for last birth in the 5 years before the survey) (%)
 41. Mothers who consumed iron folic acid for 180 days or more when they were pregnant (for last birth in the 5 years before the survey} (%)
 42. Registered pregnancies for which the mother received a Mother and Child Protection (MCP) card (for last birth in the 5 years before the survey) (%)
 43. Mothers who received postnatal care from a doctor/nurse/LHV/ANM/midwife/other health personnel within 2 days of delivery (for last birth in the 5 years before the survey) (%)
 44. Average out-of-pocket expenditure per delivery in a public health facility (for last birth in the 5 years before the survey) (Rs.)
 45. Children born at home who were taken to a health facility for a check-up within 24 hours of birth (for last birth in the 5 years before the survey} (%)
 46. Children who received postnatal care from a doctor/nurse/LHV/ANM/midwife/ other health personnel within 2 days of delivery (for last birth in the 5 years before the survey) (%)
 47. Institutional births (in the 5 years before the survey) (%)
 48. Institutional births in public facility (in the 5 years before the survey) (%)
 49. Home births that were conducted by skilled health personnel  (in the 5 years before the survey)10 (%)
 50. Births attended by skilled health personnel (in the 5 years before the survey)10 (%)
 51. Births delivered by caesarean section (in the 5 years before the survey) (%)
 52. Births in a private health facility that were delivered by caesarean section (in the 5 years before the survey) (%)
 53. Births in a public health facility that were delivered by caesarean section (in the 5 years before the survey) (%)
 54. Children age 12-23 months fully vaccinated based on information from either vaccination card or mother's recall11 (%)
 55. Children age 12-23 months fully vaccinated based on information from vaccination card only12 (%)
 56. Children age 12-23 months who have received BCG (%)
 57. Children age 12-23 months who have received 3 doses of polio vaccine13 (%)
 58. Children age 12-23 months who have received 3 doses of penta or DPT vaccine (%)
 59. Children age 12-23 months who have received the first dose of measles-containing vaccine (MCV) (%)
 60. Children age 24-35 months who have received a second dose of measles-containing vaccine (MCV) (%)
 61. Children age 12-23 months who have received 3 doses of rotavirus vaccine14 (%)
 62. Children age 12-23 months who have received 3 doses of penta or hepatitis B vaccine (%)
 63. Children age 9-35 months who received a vitamin A dose in the last 6 months (%)
 64. Children age 12-23 months who received most of their vaccinations in a public health facility (%)
 65. Children age 12-23 months who received most of their vaccinations in a private health facility (%)
 66. Prevalence of diarrhoea in the 2 weeks preceding the survey (Children under age 5 years) (%)
 67. Children with diarrhoea in the 2 weeks preceding the survey who received oral rehydration salts (ORS) (Children under age 5 years) (%)
 68. Children with diarrhoea in the 2 weeks preceding the survey who received zinc (Children under age 5 years) (%)
 69. Children swith diarrhoea in the 2 weeks preceding the survey taken to a health facility or health provider (Children under age 5 years) (%)
 70. Children Prevalence of symptoms of acute respiratory infection (ARI) in the 2 weeks preceding the survey (Children under age 5 years) (%)
 71. Children with fever or symptoms of ARI in the 2 weeks preceding the survey taken to a health facility or health provider (Children under age 5 years) (%)
 72. Children under age 3 years breastfed within one hour of birth15 (%)
 73. Children under age 6 months exclusively breastfed16 (%)
 74. Children age 6-8 months receiving solid or semi-solid food and breastmilk16 (%)
 75. Breastfeeding children age 6-23 months receiving an adequate diet16, 17  (%)
 76. Non-breastfeeding children age 6-23 months receiving an adequate diet16, 17 (%)
 77. Total children age 6-23 months receiving an adequate diet16, 17  (%)
 78. Children under 5 years who are stunted (height-for-age)18 (%)
 79. Children under 5 years who are wasted (weight-for-height)18 (%)
 80. Children under 5 years who are severely wasted (weight-for-height)19 (%)
 81. Children under 5 years who are underweight (weight-for-age)18 (%)
 82. Children under 5 years who are overweight (weight-for-height)20 (%)